@font-face
{
   font-family: "Material Icons";
   font-style: normal;
   font-weight: 400;
   src: url(MaterialIcons-Regular.eot);
   src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../MaterialIcons-Regular.woff2) format('woff2'),
        url(../MaterialIcons-Regular.woff) format('woff'),
        url(../MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons
{
   font-family: "Material Icons";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
   -moz-osx-font-smoothing: grayscale;
   font-feature-settings: "liga";
}
@-webkit-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-opacity
{
   0% { opacity: 1;  }
   50% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes animate-rotate-in-left
{
   0% { -webkit-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -webkit-transform: translate(0px,0px) rotate(360deg) ;  }
}
@-moz-keyframes animate-rotate-in-left
{
   0% { -moz-transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { -moz-transform: translate(0px,0px) rotate(360deg) ;  }
}
@keyframes animate-rotate-in-left
{
   0% { transform: translate(-1000px,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(360deg) ;  }
}
@-webkit-keyframes shadow-scale
{
   0% { box-shadow: 0 0 1px transparent; -webkit-transform: rotate(0deg) ;  }
   100% { box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -webkit-transform: rotate(0deg) scale(1.1,1.1) ;  }
}
@-moz-keyframes shadow-scale
{
   0% { box-shadow: 0 0 1px transparent; -moz-transform: rotate(0deg) ;  }
   100% { box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); -moz-transform: rotate(0deg) scale(1.1,1.1) ;  }
}
@keyframes shadow-scale
{
   0% { box-shadow: 0 0 1px transparent; transform: rotate(0deg) ;  }
   100% { box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); transform: rotate(0deg) scale(1.1,1.1) ;  }
}
@-webkit-keyframes transform-3d-sign
{
   0% { -webkit-transform-origin: 50% 0; -webkit-transform: perspective(1300px) rotateX(-60deg) ; opacity: 0;  }
   100% { -webkit-transform: rotateX(0deg) ; opacity: 1;  }
}
@-moz-keyframes transform-3d-sign
{
   0% { -moz-transform-origin: 50% 0; -moz-transform: perspective(1300px) rotateX(-60deg) ; opacity: 0;  }
   100% { -moz-transform: rotateX(0deg) ; opacity: 1;  }
}
@keyframes transform-3d-sign
{
   0% { transform-origin: 50% 0; transform: perspective(1300px) rotateX(-60deg) ; opacity: 0;  }
   100% { transform: rotateX(0deg) ; opacity: 1;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.caption
{
   text-align: center;
   text-decoration: none;
   background-color: transparent;
   padding: 20px 20px 20px 20px;
   position: absolute;
   bottom: 40px;
   left: 15%;
   right: 15%;
}
